/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    color: #EEEEEE; 
}

.container {
    background-color: #222831; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 20px; 
}

h1, h2 {
    color: #76ABAE; 
    text-align: center;
    margin-top: 0;
}

h1 {
    font-size: 28px;
    margin-bottom: 40px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 40px; 
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #EEEEEE; 
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #222831; 
    color: #EEEEEE; 
    margin-top: 4px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.buttons .button,
button,
input[type="submit"] {
    background-color: #76ABAE; 
    color: #222831;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons .button:hover,
button:hover,
input[type="submit"]:hover {
    background-color: #5e8b8c;
    transform: scale(1.05);
}

#resultado {
    background-color: #31363F; 
    padding: 10px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    color: #EEEEEE; 
    margin-bottom: 20px; 
}

#imagemAutomato {
    margin-top: 20px;
    width: 100%;
}

.result-container {
    padding: 20px;
    margin: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.true {
    color: #3cc47c; /* Verde para true */
    font-weight: bold;
}

.false {
    color: #ff3b3f; /* Vermelho para false */
    font-weight: bold;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #76ABAE; 
    color: #222831;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #5e8b8c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #76ABAE;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #76ABAE;
    color: #222831;
}

/* Específicos para a página index */
.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px;
    background-color: #222831;
    color: #EEEEEE;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}

.index-buttons {
    display: flex;
    gap: 20px;
}

.index-buttons .button {
    background-color: #76ABAE;
    color: #222831;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.index-buttons .button:hover {
    background-color: #5e8b8c;
    transform: scale(1.05);
}
