<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha a Operação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="index-container">
        <h1>Escolha a Operação</h1>
        <div class="index-buttons">
            <a href="{{ url_for('automatos') }}" class="button">Simulador de Autômatos</a>
            <a href="{{ url_for('maquina_turing') }}" class="button">Máquina de Turing</a>
        </div>
    </div>
</body>
</html>
